body{
  background: url("world flags.jpeg");
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

h1{
    margin: 60px;
  }
  
  legend{
    font-weight: 700;
    text-align: center;
  }

  #js-answered, #js-score{
    list-style: none;
    font-size: 20px; 
    padding-right: 40px;
    height: 30px;
  }

main{
  width: 100%;
  margin: 10px;
}

h1, main{
  background: white;
  border: 5px black;
  border-style: solid;
  text-align: center;
  align-items: center;
  margin:90px auto;
  width: 600px;
  position:relative;
}

.right-answer{
  color: green;
}

.wrong-answer{
  color: red;
}

hover
{ cursor: pointer }





